<div id="map">
    <h1 class="text-info">Our branches</h1>
    <div>
        <h1 class="text-info"> City: <%= cityname %>
        </h1>
        <div id="weather"></div>
        <iframe width="500" height="400" frameborder="0" src=<%=Src %> scrolling="no">
        </iframe>
        <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
            <button id="tel-aviv" class="btn-primary" target="_blank">Tel-Aviv</button> &nbsp; | &nbsp;
            <button id="bat-yam" class="btn-primary" target="_blank">Bat-Yam</button>&nbsp; | &nbsp;
            <button id="rishon-lezion" class="btn-primary" target="_blank">Rishon-Lezion</button>
        </div>
    </div>

</div>

<script src="js/main.js"></script>